*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 620px;
    background-color: white;
}

.frame{
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 20px;
    min-height: 100vh;
}

.frame-header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px 15px; 
}

.frame h1{
    text-align: center;
    font-size: 48px;
    color: #FFEB3B;
    margin: 0;
}

.line{
    flex: 1;
    height: 5px;
    background-color: #FFEB3B;
}

.frame-footer{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.diamond{
    width: 30px;
    height: 30px;
    background-color: #FFEB3B;
    transform: rotate(45deg);
}

.layout{
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
}


.controls{
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
}

.controls button{
    padding: 22px;
    font-size: 16px;
}

.canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.square{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.borders-on .square{
    border: 1px solid #ddd;
}

.square.active{
    background-color: black;
}