#container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.square{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.borders-on .square{
    border: 1px solid #ddd;
}

.square.active{
    background-color: black;
}